<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>RegSystem - registration page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1 th:text="${context.get('welcome')}">Welcome</h1>

<form action="/registration-form" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"/>
    </div>
    <div>
        <label for="surname">Surname:</label>
        <input type="text" id="surname" name="surname"/>
    </div>
    <div>
        <label for="surname">Nickname:</label>
        <input type="text" id="nickname" name="nickname"/>
    </div>
    <div>
        <label for="surname">E-mail:</label>
        <input type="text" id="email" name="email"/>
    </div>
    <div>
        <button type="submit">Send</button>
    </div>

</form>
</body>
</html>